* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.navbar {
  background-color: #3d3d3d;
  color: #dbdbdb;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

header {
  display: flex;
}

.todo {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.new-memo {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ebe2de;
  color: #3d3d3d;
  width: 400px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.new-memo:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

.add {
  background-color: #508164;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 10px;
}

.items {
  list-style: none;
  padding: 0;
  height: 500px;
  overflow-y: scroll;
}

.content__checkbox:hover {
  cursor: pointer;
}

input:checked + span {
  color: #757575;
  text-decoration: line-through;
}

.item {
  display: flex;
  background-color: #f7f3f3;
  width: 450px;
  padding: 10px 15px;
  margin-bottom: 6px;
  border-radius: 10px;
  justify-content: space-between;
}

.content__text {
  margin-left: 10px;
}

.item__delete {
  font-size: 18px;
  border-style: none;
  background-color: transparent;
  padding: 0;
}
.item__delete:hover {
  color: #508164;
  transform: scale(1.1);
}
